body{
       background-color: gray;
}
#grid{
       height: 800px;
       width: 1600px;
       background-color: black;
       border: solid 2px black;
       border-radius: 30px;
       display: grid;
       grid-column: 2fr 2fr;
       grid-template-rows:auto auto ;
       box-shadow: 0 0 20px white,
                0 0 40px rgd(219,3,219),
                  0 0 50px purple,
                  0 0 65px blue;
} 
 #container1{
              grid-column: 1/3;
              background-size: cover;
              border:solid 2px gray;
              background-color: gray;
              border-radius: 40px;
              width:1400px;
              height: 730px;
              margin-top: 30px;
              margin-left: 100px;
              border-radius: 50px;
              box-shadow:0 0 10px yellow,
                         0 0 30px yellowgreen,
                         0 0 50px brown,
                         0 0 70px burlywood;

 }
 .main{ 
        display: flex;
        flex-direction: column;
        width: 600px;
        height: 300px;
        border: hidden 5px black;
        line-height: 0.01;
        margin-top: 200px;
        margin-left: 80px;
        float: left;
 }
 #logo{
        height: 600px;
        width: 600px;
        border: hidden 3px white;
        border-radius: 30px;
        display: flex;
        margin-left: 750px;
        margin-top:100px;
        background-color: gray;
 }
 .pre{
       font-size: 30px;
       color: white;
       margin-top: 20px;
 }
 .name{ 
        font-size: 30px;
        color: white;
 }
 .highlight{
             color: purple;
 }
 .role{
        color: white;
        font-size: 35px;
 }
 h1{  
       color: white;
       font-size: 100px;
 }
 .butt{
        width: 150px;
        height: 40px;
        background-image:linear-gradient(45deg,purple,rgd(27,8,27));
        border:hidden 3px;
        border-radius:20px;

 }
 li a{
        color: gray;
        font-size: 20px;
        text-decoration: none;
        font-weight: bold;
        border: hidden 2px;
        border-radius: 30px;
        height: 50px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
 }
 a:hover{
           transform: scale(1.3);
           transition: transform 0.8s;
           display: block;
           border: hidden 2px;
           border-radius: 30px;
           text-decoration: none;
           display: flex;
           justify-content: center;
           align-items: center;
           background-image: linear-gradient(45deg,rgd(226,178,226));
 }
 .nav{
       background-color: black;
       width: 1600px;
       height: 100px;
       border: solid 3px black;
       box-shadow: 0 0 10px white,
                0 0 20px purple,
                0 0 40px gray,
                0 0 60px blue;
      
     border-radius: 40px;
     margin-bottom: 30px;           
 }
 nav ul{
          display: flex;
          gap: 50px;
          display: flex;
          justify-content: end;
          padding-right: 30px;
 }
 ul li{
        width: 140px;
        height: 50px;
        border: solid 3px purple;
        background-color: black;
        border-radius: 30px;
        box-shadow: 0 0 10px purple,
                   0 0 20px gray,
                   0 0 40px blue;

   text-align: center;
   display: flex;
   justify-content: center;
   align-items:center;
   margin-top: 10px;                
                   
 }
 a{
       text-decoration: none;
       color: purple;
       font-size: 25px;
       font-weight: bold;

 }
 #about{
          width: 1600px;
          height: 830px;
          background-color: blue;
          border: solid 3px black;
          margin-top: 50px;
 }
 #kundali{
           width: 1100px;
           height: 650px;
           background-color: black;
           border: solid 3px black;
           margin-top: 90px;
           margin-left: 20px;
           border-radius: 40px;
           float: left;

 }
 .skills{
           height: 650px;
           width: 400px;
           border: solid black 4px;
           margin-left: 1160px;
           margin-top: 90px;
           background-color: black;
           border-radius: 40px;

 }
 .headabout{
             width: 1000px;
             height: 70px;
             border: white solid 3px;
             border-radius: 40px;
             background-color: white;
             box-shadow: 0 0 10px white,
                        0 0 30px ;
 }
 